h1{
    color: #427a9d;
    text-transform: uppercase
    
}
body{background-color: #c3dded}
.container{background-color: #efe7cf}

/* Right Column */
#education {
    margin-top: 2.5em;
}
h2{text-transform: uppercase;
    color: #114f74
}
h5{
    font-size: 1.1em;
    color: #2973a2  
        
}
#left-col {
    font-size: 1em
}
.inah{
    border-radius: 50%;
    right: 10dp;
    position: relative
}
#right-col{
    color: #af5b4c
}
#resume-top{
    margin-left: 23em;
    margin-right: 23em;
    margin-top: 1em
}
#objective{
    margin-top: 15em
}